.homeContainerDark {
  background-color: #121212;
  height: 100vh;
}

.homeContainerLight {
  background-color: white;
  height: 100vh;
}

.row {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Homecard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Home-Card-Title-Light {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.Home-Card-Title-Dark {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.Home-Card-Text-Dark {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

.Home-Card-Text-Light {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: black;
}

.home-links .home-link {
  font-size: 1rem;
  margin-right: 2rem;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.5s;
}
.home-links .home-link:hover {
  background-color: #482ff7;
  color: #fff;
}
.home-links {
  display: flex;
  justify-content: space-evenly;
}
ul {
  display: flex;
}

.HomeContainerBoxLight {
  width: 1000px;
  height: 400x;
  margin-top: 50px;
  background-color: #fff;
  margin-left: 250px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px -1px rgba(0, 0, 0, 0.63);
}

.HomeContainerBoxDark {
  width: 1000px;
  height: 400x;
  margin-top: 50px;
  background-color: #202327;
  margin-left: 250px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px -1px rgba(0, 0, 0, 0.63);
}
